@font-face {
  font-family: "KBO-Dia-Gothic_bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/KBO-Dia-Gothic_bold.woff")
    format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --main-font: #282b33;
  --main-red: #ff4b4b;
  --main-gray: #ddd;
  --main-light-gray: #f5f5f5;
}

body {
  margin: 0;
  font-family: "GmarketSansMedium";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--main-font);
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
}

input:focus {
  outline: none;

  &::placeholder {
    color: white;
  }
}

input::placeholder {
  color: #ccc;
}

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
  font-family: "GmarketSansMedium";
}

p {
  margin: 0;
}

input {
  font-family: "GmarketSansMedium";
}

svg {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #ddd;
  background-clip: -box;
  border: 1px solid transparent;
}

::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #fff;
}
